{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"bracketSpacing": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/protections/(.*)$",
		"^@/permissions/(.*)$",
		"^@/config/(.*)$",
		"^@/constants/(.*)$",
		"^@/types/(.*)$",
		"^@/app/(.*)$",
		"^@/api/(.*)$",
		"^@/services/(.*)$",
		"^@/providers/(.*)$",
		"^@/desktop/ui/(.*)$",
		"^@/mobile/ui/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/stores/(.*)$",
		"^@/utils/(.*)$",
		"^(?!.*\\.scss&)(../.*)$",
		"^(?!.*\\.scss&)(./.*)$",
		".*\\.scss$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
